*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots

*.npy
*.ply
*.png


eval*

data_preparation/PlaneRecNet
data_preparation/sam2/tmp
data_preparation/sam2/results